footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: whitesmoke;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid black;
  color: black;
}